/*styling form*/
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}
form{
    margin: auto;
    background-color: rgb(212, 180, 153);
    border-radius: 8px;
    box-shadow: 0 4px 8px #1f1a1a;
    padding: 20px;
    max-width: 600px;
}
h1{
    text-align: center;
    color: rgb(65, 3, 34);

}
fieldset{
    border: 2px solid #610d0d;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
legend{
    font-weight: bold;
    text-align: left;
    color: #610d0d;

}
label{
    display: block;
    margin-top: 10px;
    color: #610d0d;
}
input,textarea{
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    background-color: aqua;
    color: rgb(59, 5, 5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px #300101;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    color: rgb(200, 29, 223);
}
#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(34, 150, 196);
    border-radius: 8px;
    background-color: #ecd7d7;
    box-shadow: 0 4px 8px rgba(189, 48, 48, 0.5);
    outline: none;

}
#shareable-link-container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(34, 150, 196);
    border-radius: 8px;
    background-color: #ecd7d7;
    box-shadow: 0 4px 8px rgba(189, 48, 48, 0.5);
    outline: none;

}
#resume-display h2{
    color: rgb(5, 5, 5);
}